body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header styles */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar a {
  display: block;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-blue {
  color: #2e2f42;
}

.nav-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-header.current {
  position: relative;
  color: #404bbf;
}

.nav-header.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-header:hover,
.nav-header:focus {
  color: #404bbf;
}

.conacts-header-section {
  font-style: normal;
}

.contacts-nav {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav:hover,
.contacts-nav:focus {
  color: #404bbf;
}

.nav-contacts {
  display: flex;
  gap: 40px;
}

/* Main section styles */

/* Section with Main header and button */
.header-section {
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
}

.portfolio-header {
  margin-bottom: 72px;
}

.main-header-section {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.button-header-section {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border: none;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-header-section:hover,
.button-header-section:focus {
  background: #404bbf;
}

/* Section styles */
.header-sections {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  color: #2e2f42;
}

.title-sections {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-team {
  text-align: center;
  margin-bottom: 8px;
}

.team-name-work {
  text-align: center;
  margin-bottom: 8px;
}

.team-title-section {
  margin-bottom: 72px;
}

.text-content-sections {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.studio-section {
  padding: 120px 0 120px 0;
}

.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.studio-class {
  display: flex;
  gap: 24px;
}

.studio-class-list {
  width: calc((100% - 72px) / 4);
}
.studio-bg-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
}
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.list-team-section {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.item-team-section {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.name-team-item {
  padding: 32px 0;
}

.team-social-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  padding: 0 16px;
}

.team-social-icon {
  fill: #f4f4fd;
}
.team-social-bg:hover,
.team-social-bg:focus {
  background: #404bbf;
}
.list-portfolio-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-portfolio-section {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio-section:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-name-work {
  margin-bottom: 8px;
}

.name-portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.slide-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio-section:hover .slide-text {
  transform: translatey(0);
}
/* Footer Section */
.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-grid {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-blue {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}

.logo-footer-section {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text {
  display: flex;
  max-width: 264px;
  flex-wrap: wrap;
  margin-right: 120px;
}

.footer-text-social {
  display: flex;
  flex-direction: column;
}
.footer-title-social {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: 208px;
  justify-content: space-between;
}
.footer-social-effects:hover,
.footer-social-effects:focus {
  background-color: #31d0aa;
}
